.logos{
    display:flex;
    justify-content: space-between;
    height:10%;
    margin:4% 10%;
  }

  .logos .brands__logos{
    list-style: none;
    line-height: 0.3em;
    color:#00CCB1;
    padding-inline-start: 0px;
    margin-top: 0px;
    display:flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  .logos .brands__logos li{
    fill:#C4C4C4;
    float:left;
    max-width:25%;
    padding:0px;
    margin: 0px;
    
  }
  .logos .brands__logos li svg{
    width:60%;
    height:60%;
    margin:0% 0% 10% 45%;
  }
  .logos .brands__logos li:hover{
    fill:#00CCB1;
  }

